<%- layout('layouts/boilerplate') %>
<h2 class="text-center h2 mb-3 text-muted">Sold products</h2>
<div class="row row-cols-2 row-cols-md-3">
    <% for(let product of user.own_products){ %>
        <div class="col">
            <div class="card mb-3">
                <img class="img-fluid object-fit card-img-top" src="<%= product.image %>" height="200px">
                <div class="card-body text-center">
                    <h5 class="card-title"><%= product.name %></h5>
                    <h5 class="card-title">Price: <%= product.price %></h5>
                    <a class="btn btn-primary" href="/products/<%= product._id %>">View product</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<hr>

<h2 class="text-center h2 mb-3 text-muted">Bought products</h2>
<div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 mb-3">
    <% for(let product of user.bought_products){ %>
        <div class="col">
            <div class="card mb-3">
                <img class="img-fluid" src="<%= product.image %>" height="200px">
                <div class="card-body text-center">
                    <h5 class="card-title"><%= product.name %></h5>
                    <h5 class="card-title">Price: <%= product.price %></h5>
                    <a class="btn btn-primary" href="/products/<%= product._id %>">View product</a>
                </div>
            </div>
        </div>
    <% } %>
</div>